[Unit]
Description=Save brightness value from Radeon driver
DefaultDependencies=no
After=final.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/fix-brightness

[Install]
WantedBy=final.target
